body {
	margin-bottom: 8%;
}
header {
	top: 0px;
	position: fixed;
	width: 100%;
	background-color: #333;
	/*overflow: hidden;*/

	margin: -8px;
	padding: 35px 14px 15px 14px;

	font-family: Verdana, sans-serif;
	font-weight: bold;
	color: white;
	font-size: 22px;
}
header > div {
	display: flex;
}

.right_header > a {
	position: absolute;
	color: white;
	right: 70px;
	padding: 5px 10px 10px 10px;
	text-decoration: none;
}
.dropdown-content {
  	display: none;
 	position: absolute;
 	font-size: 18px;
 	color: red;
	right: 0px;
  	background-color: #333;
  	min-width: 260px;
  	border-top: 1px grey solid;
  	margin-top: 39px;
  	padding: 15px 0px 15px 15px;
  	z-index: 1;
}
.dropdown-content > a {
	padding: 5px;
	text-decoration: none;
}
.dropdown-content > a:link, .dropdown-content > a:visited, .dropdown-content > a:active {
	color: #D1D1D1;
}
a.dropdown_deconnexion:hover, a.dropdown_compte:hover {
	color: white;
	border-left: transparent 6px solid; 
}
.right_header:hover .dropdown-content {
 	display: block;
}

.left_header > a {
	padding: 11px 20px 11px 20px;

	border-bottom: 0px solid transparent;
	transition: border-bottom 0.5s;
	text-decoration: none;
}
.left_header > a:link, .left_header > a:visited {
	color: #D1D1D1;
}
.left_header > a:active {
	color: white; 
}
.left_header > a:hover {
	border-bottom: solid #9C92FF 4px;
	color: white;
}


.tournoi_parent {
 	display: flex;
  	justify-content: space-evenly;
  	flex-flow: row wrap;
  	padding: 15px 0px 0px 0px;
}
.tournoi_enfant_TERMINE {
	margin-top: 50px;
	color: black;
	font-weight: bold;
	text-align: center;
}
.tournoi_enfant_TERMINE > p {
	padding: 10px 20px 4px 20px;
	border-top: solid black 2px;
	border-right: solid black 2px;
	border-left: solid black 2px;

	background-color: orange;
	margin-bottom: 0px;

	font-size: 30px;
	font-family: bahnschrift;
	text-align: center;	
}

.intitule_value { /* Input caché pour le submit */
	border: none;
	background-color: orange;
	width: 100%;
	font-size: 30px;
	color: black;
	font-family: bahnschrift;
	text-align: center;
	word-break: break-word;
}
.tournoi_enfant_TERMINE > input, a > input, form > input {
	font-family: Verdana;
	font-size: 28px;

	background-color: #8D559D;
    border: 1px solid transparent;
    border-radius: 40px;
    height: 90px;
    width: 200px;
    color: white;
}
.tournoi_enfant_TERMINE > input:hover, a > input:hover {
	font-family: Verdana;
	font-size: 28px;

	background-color: #8D559D;
    border: 1px solid black;
    border-radius: 40px;
    height: 90px;
    width: 200px;
    color: white;
}


.affichage_score {
	font-size: 26px;
	width: 850px;
	border: solid 2px black;
	padding-top: 30px;
	margin-bottom: -50px;
	height: auto;
}


.sect_inline_equipe1 {
	width: 120px;
	height: 36px;
	display: inline-block;
	text-align: left;
	padding: 7px 7px 2px 7px;	
	margin: -4px;
	border-bottom: 1px solid black;
	color: #656565;
}
.sect_inline_score1 {
	width: 120px;
	height: 36px;
	display: inline-block;
	text-align: right;
	padding: 7px 7px 2px 7px;	
	margin: -4px;
	border-bottom: 1px solid black;
	color: #656565;
}
.sect_inline_equipe2 {
	width: 120px;
	height: 36px;
	display: inline-block;
	text-align: right;
	padding: 7px 7px 2px 7px;	
	margin: -4px;
	border-bottom: 1px solid black;
	color: #656565;
}
.sect_inline_score2 {
	width: 120px;
	height: 36px;
	display: inline-block;
	text-align: left;
	padding: 7px 7px 2px 7px;	
	margin: -4px;
	border-bottom: 1px solid black;
	color: #656565;
}
.sect_inline_equipe1_lose {
	width: 120px;
	height: 36px;
	display: inline-block;
	text-align: left;
	padding: 7px 7px 2px 7px;	
	margin:-4px;
	border-bottom: 1px solid #b80000;
	/*border: 1px grey solid;*/
	color: #b80000;
}
.sect_inline_equipe2_lose {
	width: 120px;
	height: 36px;
	display: inline-block;
	text-align: right;
	padding: 7px 7px 2px 7px;	
	margin:-4px;
	border-bottom: 1px solid #b80000;
	/*border: 1px grey solid;*/
	color: #b80000;
}
.sect_inline_score1_lose {
	width: 120px;
	height: 36px;
	display: inline-block;
	text-align: right;
	padding: 7px 7px 2px 7px;	
	margin:-4px;
	border-bottom: 1px solid #b80000;
	/*border: 1px grey solid;*/
	color: #b80000;
}
.sect_inline_score2_lose {
	width: 120px;
	height: 36px;
	display: inline-block;
	text-align: left;
	padding: 7px 7px 2px 7px;	
	margin:-4px;
	border-bottom: 1px solid #b80000;
	/*border: 1px grey solid;*/
	color: #b80000;
}

.sect_inline_equipe1_win {
	width: 120px;
	height: 36px;
	display: inline-block;
	text-align: left;
	padding: 7px 7px 2px 7px;	
	margin: -4px;
	border-bottom: 1px solid #00a30b;
	/*border: 1px grey solid;*/
	color: #00a30b;
}
.sect_inline_equipe2_win {
	width: 120px;
	height: 36px;
	display: inline-block;
	text-align: right;
	padding: 7px 7px 2px 7px;	
	margin: -4px;
	border-bottom: 1px solid #00a30b;
	/*border: 1px grey solid;*/
	color: #00a30b;
}
.sect_inline_score1_win {
	width: 120px;
	height: 36px;
	display: inline-block;
	text-align: right;
	padding: 7px 7px 2px 7px;
	margin: -4px;
	border-bottom: 1px solid #00a30b;
	/*border: 1px grey solid;*/
	color: #00a30b;
}
.sect_inline_score2_win {
	width: 120px;
	height: 36px;
	display: inline-block;
	text-align: left;
	padding: 7px 7px 2px 7px;
	margin: -4px;
	border-bottom: 1px solid #00a30b;
	/*border: 1px grey solid;*/
	color: #00a30b;
}
.potit_match {
	font-size: 18px;
	font-family: bahnschrift;
}
.sect_inline_equipe1_incoming {
	width: 120px;
	height: 36px;
	display: inline-block;
	text-align: left;
	padding: 7px 7px 2px 7px;	
	margin: -4px;
	border-bottom: 1px solid #858585;
	/*border: 1px grey solid;*/
	color: #858585;
}
.sect_inline_equipe2_incoming {
	width: 120px;
	height: 36px;
	display: inline-block;
	text-align: right;
	padding: 7px 7px 2px 7px;	
	margin: -4px;
	border-bottom: 1px solid #858585;
	/*border: 1px grey solid;*/
	color: #858585;
}
.sect_inline_score1_incoming {
	width: 120px;
	height: 36px;
	display: inline-block;
	text-align: right;
	padding: 7px 7px 2px 7px;
	margin: -4px;
	border-bottom: 1px solid #858585;
	/*border: 1px grey solid;*/
	color: #858585;
}
.sect_inline_score2_incoming {
	width: 120px;
	height: 36px;
	display: inline-block;
	text-align: left;
	padding: 7px 7px 2px 7px;
	margin: -4px;
	border-bottom: 1px solid #858585;
	/*border: 1px grey solid;*/
	color: #858585;
}
.potit_match_incoming {
	font-size: 18px;
	font-family: bahnschrift;
	color: #858585;
}
.potit_match_active {
	font-size: 18px;
	font-family: bahnschrift;
 	background: -webkit-linear-gradient(#FF0000, #FABE3C);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.sect_inline_equipe1_active {
	width: 120px;
	height: 36px;
	display: inline-block;
	text-align: left;
	padding: 7px 7px 2px 7px;	
	margin: -4px;
	border-bottom: 1px solid black;
	/*border: 1px grey solid;*/
	color: black;
}
.sect_inline_equipe2_active {
	width: 120px;
	height: 36px;
	display: inline-block;
	text-align: right;
	padding: 7px 7px 2px 7px;	
	margin: -4px;
	border-bottom: 1px solid black;
	/*border: 1px grey solid;*/
	color: black;
}
.sect_inline_score1_active {
	width: 120px;
	height: 36px;
	display: inline-block;
	text-align: right;
	padding: 7px 7px 2px 7px;
	margin: -4px;
	border-bottom: 1px solid black;
	/*border: 1px grey solid;*/
	color: black;
}
.sect_inline_score2_active {
	width: 120px;
	height: 36px;
	display: inline-block;
	text-align: left;
	padding: 7px 7px 2px 7px;
	margin: -4px;
	border-bottom: 1px solid black;
	/*border: 1px grey solid;*/
	color: black;
}